body {
    margin: 0;
    background-color: rgb(30, 29, 29);
    font-family: monospace;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
}

.container {
    margin-top: 150px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-height: 150px;
}

#img {
    height: 25px;
}

h3 {
    color: rgb(88, 88, 88);
    font-size: 20px;
}

#joke {
    margin-top: 5px;
    color: cornflowerblue;
    font-size: 13px;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.btn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    transition: all 0.3s linear;
}

.btn:hover {
    background-color: rgb(108, 160, 255);
}